.todos {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: darkgoldenrod;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    color: white;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgb(0, 0, 0, 0.25);
}
